ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
}
li a{
    color: #000;
    text-decoration: none;
    display:block;
    padding: 8px 16px;
}
li a.active{
    background-color: #04aa6D;
    color:white;
}
li a:hover{
background-color: #555;
color: white;
}
